{% extends "layout.html" %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xs-12">
        <input type="username" name="username_p" id="username_p" placeholder="Choose a Username">
        <span name="username" id="username"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xs-12">
        <button id="save_username">Registra!</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xs-12">
        <button id="registra_websocket">Registra Websocket!</button>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xs-12">
            <span name="check_websocket" id="check_websocket"></span>
        </div>
      </div>
  </div>
{% endblock %}